<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('This Post')">
</head>
<body>
    <nav th:replace="partials :: navbar"></nav>

    <div class="container" id="content">
        <h3 th:text="${post.title}"></h3>
        <p th:text="${post.description}"></p>
        <h5>By: <span th:text="${post.user.email}"></span></h5>
    </div>

    <footer th:replace="partials :: footer"></footer>
    <div th:replace="partials :: boot-scripts"></div>
</body>
</html>