<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head ('Viewing all Ads')}">
  <title>Prolonged Fart Noises</title>
</head>
<body class="main-bg main-container">

  <nav th:replace="~{partials :: navbar}"></nav>

  <div class="container" id="content">
    <div th:each="ad : ${ads}">
      <a th:href="@{/ads/{id} (id = ${ad.id})}"><h3 th:text="${ad.title}"></h3></a>
      <p th:text="${ad.description}"></p>
    </div>
  </div>

  <footer th:replace="~{partials :: footer}"></footer>
  <div th:replace="~{partials :: boot-scripts}"></div>

</body>
</html>