<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:By="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head ('Viewing an Ad')">
</head>
<body>
  <nav th:replace="partials :: navbar"></nav>

  <div class="container" id="content">
    <h3 th:text="${ad.title}"></h3>
    <p th:text="${ad.description}"></p>
    <div th:each="category : ${ad.categories}">
      <h6 th:text="${category.name}"></h6>
    </div>
    <h5>By: <span th:text="${ad.user.username}"></span></h5>
  </div>

  <footer th:replace="partials :: footer"></footer>
  <div th:replace="partials :: boot-scripts"></div>
</body>
</html>