<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Roll Dice')">
</head>
<body  class="main-container main-bg">
    <nav th:replace="partials :: navbar"></nav>

    <div class="container" id="content">
        <h3>Let's roll the dice. Pick a number to see if you get lucky.</h3>
        <br>
        <a href="/roll-dice/1"><span class="dice dice-1" title="Dice 1"></span></a>&nbsp&nbsp&nbsp
        <a href="/roll-dice/2"><span class="dice dice-2" title="Dice 2"></span></a>&nbsp&nbsp&nbsp
        <a href="/roll-dice/3"><span class="dice dice-3" title="Dice 3"></span></a>&nbsp&nbsp&nbsp
        <a href="/roll-dice/4"><span class="dice dice-4" title="Dice 4"></span></a>&nbsp&nbsp&nbsp
        <a href="/roll-dice/5"><span class="dice dice-5" title="Dice 5"></span></a>&nbsp&nbsp&nbsp
        <a href="/roll-dice/6"><span class="dice dice-6" title="Dice 6"></span></a>
    </div>

    <footer th:replace="partials :: footer"></footer>
    <div th:replace="partials :: boot-scripts"></div>
</body>
</html>