<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Welcome ' + ${#authentication.principal.username} + '!')">
</head>
<body  class="main-container main-bg">
    <nav th:replace="partials :: navbar"></nav>

    <div class="container" id="content">
        <h1 th:text="|Welcome to your page, ${#authentication.principal.username}!|"></h1>
        <h4 th:text="|User Id: ${#authentication.principal.id}|"></h4>
        <h4 th:text="|Email: ${#authentication.principal.email}|"></h4>
    </div>

    <footer th:replace="partials :: footer"></footer>
    <div th:replace="partials :: boot-scripts"></div>
</body>
</html>