html {
    height: 100%;
}

body {
    background: grey;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#content {
    background-color: lightgrey;
    flex: 1;
    padding: 2rem;
}

#footer {
    background-color: #222529;
    padding: 10px;
}

#footer-content{
    color: #9B9D9E;
}